.sos {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.sos__button {
  border: none;
  width: 134px;
  height: 134px;

  min-width: 80px;
  min-height: 80px;

  border-radius: 50%;

  background: linear-gradient(135deg, #ff6060 0%, #ea5656 100%);
  box-shadow: -2px 2px 4px rgba(203, 76, 76, 0.2),
    2px -2px 4px rgba(203, 76, 76, 0.2), -2px -2px 4px rgba(255, 106, 106, 0.9),
    2px 2px 5px rgba(203, 76, 76, 0.9),
    inset 1px 1px 2px rgba(255, 106, 106, 0.3),
    inset -1px -1px 2px rgba(203, 76, 76, 0.5);

  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.438rem;
  letter-spacing: -0.02em;

  color: #ffffff;

  position: relative;
  cursor: pointer;
  z-index: 1;

  transition: all 45ms linear;
}

button.sos__button::before {
  content: "Help";
}

button.sos__button:active {
  font-size: 1.063rem;
  line-height: 1.25rem;
  background: #d83636;
  box-shadow: 1px 1px 2px rgba(255, 74, 74, 0.3),
    -1px -1px 2px rgba(136, 34, 34, 0.5),
    inset -10px 10px 20px rgba(136, 34, 34, 0.2),
    inset 10px -10px 20px rgba(136, 34, 34, 0.2),
    inset -10px -10px 20px rgba(255, 74, 74, 0.9),
    inset 10px 10px 25px rgba(136, 34, 34, 0.9);

  /* z-index: -1; */

  transition: opacity 45ms linear;
}

:root {
  --red: red;
}

.swal2-modal {
  border-radius: 30px !important;
  /* padding-bottom: 15% !important; */
  position: relative;
}

.swal2-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 5em auto !important;

  /* animation: ripple 0.6s ease-in-out infinite; */

  filter: drop-shadow(0px 84px 75px rgba(0, 0, 0, 0.11))
    drop-shadow(0px 35.0932px 31.3332px rgba(0, 0, 0, 0.079074))
    drop-shadow(0px 18.7625px 16.7522px rgba(0, 0, 0, 0.0655718))
    drop-shadow(0px 10.5181px 9.39116px rgba(0, 0, 0, 0.055))
    drop-shadow(0px 5.58609px 4.98758px rgba(0, 0, 0, 0.0444282))
    drop-shadow(0px 2.3245px 2.07544px rgba(0, 0, 0, 0.030926));
}

.swal2-html-container {
  overflow: hidden !important;
  margin: 0px !important;
}

.swl__modal {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img__wrapper {
  object-fit: cover;
  position: relative;
  width: 50%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swl__img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}

.swl__gif {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.Sos__header {
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;
}

/* ripple effect */
/* @keyframes ripple {
  /* 0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.1), 0 0 0 20px rgba(255, 0, 0, 0.1),
      0 0 0 40px rgba(255, 0, 0, 0.1), 0 0 0 60px rgba(255, 0, 0, 0.1);
  } */
/* 100% {
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0.1), 0 0 0 40px rgba(255, 0, 0, 0.1),
      0 0 0 60px rgba(255, 0, 0, 0.1), 0 0 0 80px rgba(255, 0, 0, 0);
  }  */
/* }  */

.swal2-confirm {
  background: linear-gradient(180deg, #95e4c3 0%, #65ab8e 100%) !important;
  border-radius: 0px 0px 0px 30.009px !important;

  margin: 0 !important;
  width: 100%;
  height: 100%;
}

.swal2-actions {
  width: 100% !important;
  height: 100%;
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap !important;
}

.swal2-deny {
  background: linear-gradient(180deg, #7195db 0%, #3c588c 100%) !important;
  border-radius: 0px 0px 30.009px 0px !important;

  margin: 0 !important;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: 375px) {
  .swal2-styled {
    padding: 0 1.1em !important;
    transition: box-shadow 0.1s;
    box-shadow: 0 0 0 3px transparent;
    font-weight: 500;
  }
}
