.header {
	display: flex;
	align-items: center;

	padding: 1rem;

	color: #1299fb;
	font-size: 1.25rem 1.063rem 1.25rem;
	line-height: 1.438rem;
	font-weight: 700;
	letter-spacing: -0.02em;

	box-shadow: 0px 23px 29px rgba(0, 0, 0, 0.03),
		0px 9.60885px 12.1155px rgba(0, 0, 0, 0.0215656),
		0px 5.13735px 6.47753px rgba(0, 0, 0, 0.0178832),
		0px 2.87996px 3.63125px rgba(0, 0, 0, 0.015),
		0px 1.52952px 1.92853px rgba(0, 0, 0, 0.0121168),
		0px 0.636469px 0.802504px rgba(0, 0, 0, 0.00843437);
}

.header > div {
	display: flex;
	justify-content: center;
	width: 100%;
}

.header__title {
	font-weight: bold;
}

/* .noselect {
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */
