.app {
  width: 100%;
  min-height: 100vh;
  min-width: fit-content;
}

@media screen and (min-width: 600px) {
  .app {
    display: none !important;
  }
}

.flex__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
